<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.api.mapper.ProjectMapper">
    <select id="getProjectListByStudentId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM selection sn, student s, project p, teacher t
        WHERE s.STUDENT_ID = #{userId, jdbcType=VARCHAR}
          AND sn.STUDENT_ID = s.STUDENT_ID
          AND p.PROJECT_ID = sn.PROJECT_ID
          AND p.TEACHER_ID = t.TEACHER_ID
          <if test="searchText != null and searchText != ''">
              AND p.PROJECT_NAME LIKE CONCAT('%', #{searchText, jdbcType=VARCHAR}, '%')
          </if>
    </select>

    <select id="getProjectListByTeacherId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM project p, teacher t
        WHERE t.TEACHER_ID = #{userId, jdbcType=VARCHAR}
          AND p.TEACHER_ID = t.TEACHER_ID
          <if test="searchText != null and searchText != ''">
              AND p.PROJECT_NAME LIKE CONCAT('%', #{searchText, jdbcType=VARCHAR}, '%')
          </if>
    </select>
</mapper>