<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.api.mapper.ProjectMapper">
    <select id="getProjectListByStudentId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_ID, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM selection sn, student s, project p, teacher t
        WHERE s.STUDENT_ID = #{userId, jdbcType=VARCHAR}
          AND sn.STUDENT_ID = s.STUDENT_ID
          AND p.PROJECT_ID = sn.PROJECT_ID
          AND p.TEACHER_ID = t.TEACHER_ID
          <if test="searchText != null and searchText != ''">
              AND p.PROJECT_NAME LIKE CONCAT('%', #{searchText, jdbcType=VARCHAR}, '%')
          </if>
    </select>

    <select id="getProjectListByTeacherId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_ID, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM project p, teacher t
        WHERE t.TEACHER_ID = #{userId, jdbcType=VARCHAR}
          AND p.TEACHER_ID = t.TEACHER_ID
          <if test="searchText != null and searchText != ''">
              AND p.PROJECT_NAME LIKE CONCAT('%', #{searchText, jdbcType=VARCHAR}, '%')
          </if>
    </select>

    <select id="getStudentProgress" resultType="com.team.api.dto.ProgressDto">
        SELECT p.PROJECT_NAME, p.PROGRESS
        FROM project p, selection sn
        WHERE sn.STUDENT_ID = #{userId}
        AND p.PROJECT_ID = sn.PROJECT_ID
        ORDER BY p.PROGRESS ASC, p.CREATE_TIME ASC
        LIMIT 10
    </select>

    <select id="getTeacherProgress" resultType="com.team.api.dto.ProgressDto">
        SELECT PROJECT_NAME, PROGRESS
        FROM project
        WHERE TEACHER_ID = #{userId}
        ORDER BY PROGRESS ASC, CREATE_TIME ASC
        LIMIT 10
    </select>

    <select id="getWechatProjectListByStudentId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_ID, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM selection sn, student s, project p, teacher t
        WHERE s.STUDENT_ID = #{userId, jdbcType=VARCHAR}
          AND sn.STUDENT_ID = s.STUDENT_ID
          AND p.PROJECT_ID = sn.PROJECT_ID
          AND p.TEACHER_ID = t.TEACHER_ID
    </select>

    <select id="getWechatProjectListByTeacherId" resultType="com.team.api.entity.Project">
        SELECT p.ID, p.PROJECT_ID, p.PROJECT_NAME, t.TEACHER_ID, t.TEACHER_NAME, p.PROGRESS, p.CREATE_TIME
        FROM project p, teacher t
        WHERE t.TEACHER_ID = #{userId, jdbcType=VARCHAR}
          AND p.TEACHER_ID = t.TEACHER_ID
    </select>


</mapper>