<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.api.mapper.UserMapper">

    <select id="getUserList" resultType="com.team.api.dto.StudentListDto">
        SELECT USER_ID AS 'value',
               USER_NAME AS 'label' FROM user
    </select>

    <select id="getClassList" resultType="java.lang.String">
        SELECT CLASS_NAME FROM class
    </select>

    <select id="getStudentListByClass" resultType="com.team.api.dto.StudentListDto" parameterType="java.lang.String">
        SELECT
            s.STUDENT_ID AS 'value',
            s.STUDENT_NAME AS 'label',
            c.CLASS_NAME AS 'classname'
        FROM student s, class c
        WHERE s.CLASS_NAME = #{className}
          AND c.CLASS_NAME = s.CLASS_NAME
    </select>

    <select id="getTeacherList" resultType="java.util.HashMap">
        SELECT
            TEACHER_ID
            TEACHER_NAME
        FROM teacher
    </select>

    <update id="setLastLoginTime">
        UPDATE user
        SET LAST_LOGIN_TIME = #{lastLoginTime}
        WHERE USER_ID = #{userId}
    </update>
</mapper>